.font-12-400 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 1.1rem;
    }
}

.font-16-400 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.font-20-400 {
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 1.8rem;
    }
}

.font-22-500 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 1.9rem;
    }
}

.font-22-700 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 1.9rem;
    }
}

.font-24-500 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.0rem;
    }
}

.font-28-500 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.2rem;
    }
}

.font-32-500 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.4rem;
    }
}

.font-36-500 {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.6rem;
    }
}

.font-36-700 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.6rem;
    }
}

.font-42-500 {
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
    }
}

.font-42-700 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
    }
}

.font-48-500 {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 100%;

    @media only screen and (max-width: 768px) {
        font-size: 3.0rem;
    }
}

a {
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.stick-title {
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 24px;

    &:before {
        position: relative;
        content: '';
        height: 3.2rem;
        width: 4px;
        background: $deepskyblue;
    }
}

.page-title {
    margin-bottom: 5.6rem;
}

.btn-rect {
    padding: 1.4rem 4.6rem;
    min-width: 24rem;
    height: 6rem;
    background-color: $deepblue_color;
    color: #FFF;
    border: 1px solid $deepblue_color;
    font-weight: 500;
    margin: 5.2rem auto 0 auto;

    &:hover {
        opacity: 1;
    }

    @media only screen and (max-width: 768px) {
        margin-top: 3.6rem auto 0 auto;
    }

    &:before {
        background-color: #FFF;
        border: unset;
        color: $deepblue_color;
    }

    &:after {
        border: unset;
    }
}

.underline-title {
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    color: $orange_color;
    text-align: left !important;
    padding-bottom: 2.0rem;
    border-bottom: 1px solid #b0aeae;
    margin-bottom: 2.8rem;

    img {
        width: 4.8rem;
    }

    &:after {
        position: absolute;
        content: '';
        width: 16%;
        height: 3px;
        left: 0;
        bottom: -2px;
        background: $dodgerblue;
        transition: width 0.3s ease-in;
    }
}

.btn-top {
    display: none;
    position: fixed;
    width: 5.6rem;
    height: 5.6rem;
    bottom: 4.8rem;
    right: 4.8rem;
    z-index: 10000;

    .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background: $dodgerblue;
        border-radius: 90%;

        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 4px #5d5d5dab, inset 2px 2px 4px #ececec6e;

        img {
            width: 3.6rem;
        }
    }
}

// .slick-arrow {
//     display: none;
//     position: absolute;
//     top: 50%;

//     &:after {
//         position: relative;
//         display: block;
//         content: '';
//         width: 2.4rem;
//         height: 2.4rem;
//         background: red;
//         z-index: 1;
//     }
// }

.section-title {
    display: block;
    width: fit-content;
    position: relative;
    text-align: center;
    margin: 0 auto 6.4rem auto;

    @media only screen and (max-width: 767px) {
        margin-bottom: 4.0rem;
    }

    .en-title {
        margin-bottom: 1.6rem;

        @media only screen and (max-width: 767px) {
            margin-bottom: 1.2rem;
        }
    }

    .jp-title {
        color: $orange_color;
    }
}

section {
    display: block;
    position: relative;
    width: 100%;
    padding: 12.6rem 0;

    @media only screen and (max-width: 767px) {
        padding: 7.6rem 0;
    }
}

.business-list {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 4.8rem;
    row-gap: 4.8rem;

    @media only screen and (max-width: 767px) {
        column-gap: 4.8rem;
        row-gap: 4.8rem;
    }

    .business-item {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;

        .thumb {
            display: block;
            position: relative;
            aspect-ratio: 395 / 264;
            object-fit: cover;
            width: 100%;
            height: auto;
            transition: .5s;

            &:hover {
                transform: scale(1.5);
            }
        }

        .title {
            position: absolute;
            bottom: 1.2rem;
            left: 1.2rem;
            padding: 0.6rem 1.2rem;
            line-height: 100%;
            background: #ffffffb2;
        }
    }
}

.news-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    .news-item {
        position: relative;
        width: 100%;
        display: flex;
        column-gap: 1.2rem;

        .date {
            width: 12rem;
            flex-shrink: 0;
            line-height: 3.2rem;
        }

        .title {
            line-height: 3.2rem;
        }
    }
}

.contact-banner {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: $dodgerblue;

    .left-part,
    .right-part {
        position: relative;
        width: 50%;
    }

    .left-part {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
        }
    }

    .right-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white_color;
        padding: 10.6rem 0;

        @media only screen and (max-width: 768px) {
            padding: 7.6rem 0;
        }
    }

    .btn-phone {
        display: flex;
        align-items: center;
        column-gap: 1.2rem;

        img {
            width: 5.2rem;
            margin-top: 1.2rem;
        }
    }

    .btn-rect {
        min-width: 32rem;
        height: 7.2rem;
        background-color: #eea92a;
        color: #FFF;
        border: 1px solid #eea92a;
        border-radius: 0.6rem;
        column-gap: 1.2rem;
        margin-top: 4.0rem;

        img {
            width: 4.0rem;
            display: block;
            position: relative;
            z-index: 1;
        }

        &:before {
            background-color: #f7b946;
        }
    }
}

.terms-section {
    .wrapper {
        display: flex;
        align-items: center;
        column-gap: 2.4rem;
        padding: 3.6rem 4.8rem;
        border: 1px solid $dodgerblue;
        margin: 0 auto;
        transition: all 0.1s ease-in-out;

        &:hover {
            border: 6px solid $dodgerblue;
        }

        .img-wrapper {
            position: relative;
            width: 38%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            .section-img {
                position: relative;
                display: block;
                width: 80%;
            }
        }

        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-terms {
                padding: 2.0rem 5.6rem;
                line-height: 4.4rem;
                text-align: center;
                color: $orange_color;
                border: 1px solid $orange_color;
                transition: all 0.3s ease-in-out;

                @media only screen and (max-width: 768px) {
                    padding: 1.6rem 4.6rem;
                    line-height: 3.4rem;
                }
            }
        }
    }
}

.sub-mainview {
    position: relative;
    width: 100%;

    .bg-img {
        position: relative;
        width: 100%;
        aspect-ratio: 10 / 2;
        object-fit: cover;
        display: block;
    }

    .page-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        text-align: center;
        color: $white_color;
        z-index: 1;

        .en-title-wrapper {
            width: fit-content;
            position: relative;
            text-align: center;
            margin: 0 auto 1.6rem auto;
        }

        .jp-title-wrapper {
            width: fit-content;
            position: relative;
            text-align: center;
            color: #f1f1d9;
            margin: 0 auto;
        }

        .title-bg {
            position: absolute;
            top: -9%;
            left: -8%;
            width: 119%;
            height: 132%;
            background: #0000007d;
            z-index: 1;

            opacity: 0;

            &.visible {
                clip-path: inset(0 100% 0 0);
                animation: taglineClipPath forwards 0.5s ease-out 0.1s 1 normal // animation: taglineClipPath forwards .5s cubic-bezier(0.25, 1, 0.5, 1) 2.3s 1 normal
            }
        }

        .title-text {
            width: fit-content;
            position: relative;
            white-space: nowrap;
            z-index: 2;

            opacity: 0;

            &.visible {
                clip-path: inset(0 100% 0 0);
                animation: taglineClipPath forwards 0.8s ease-out 0.3s 1 normal // animation: taglineClipPath forwards .5s cubic-bezier(0.25, 1, 0.5, 1) 2.3s 1 normal
            }
        }
    }
}

.bread-crump {
    padding: 1.0rem 0;
    background: #e9e3d4;

    .container {
        display: flex;
        column-gap: 0.8rem;
        flex-wrap: wrap;
        align-items: center;

        .link {
            font-weight: 500;
            color: #0d4571;
            transition: 0.2s;

            &:hover {
                opacity: 1;
                color: $orange_color;
            }
        }
    }
}



//vertical movement animation------------>
.scroller {
    position: relative;
    max-width: 100%;
    z-index: 1;

    &__inner {
        padding-block: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg,
                transparent,
                white 6%,
                white 94%,
                transparent);
        mask: linear-gradient(90deg, transparent, white 6%, white 94%, transparent);

        .scroller__inner {
            width: max-content;
            flex-wrap: nowrap;
            animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
        }
    }

    &[data-direction="right"] {
        --_animation-direction: reverse;
    }

    &[data-direction="left"] {
        --_animation-direction: forwards;
    }

    &[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    &[data-speed="slow"] {
        --_animation-duration: 60s;
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;

    li {
        padding: 1rem;
        background: $lightskyblue;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem -0.25rem hsl(0, 0%, 78%);
    }
}

//<------------vertical movement animation

.with-sidebar {
    position: relative;
    display: flex;
    width: 100%;
    column-gap: 6.4rem;

    .sidebar {
        position: sticky;
        width: fit-content;
        height: fit-content;
        flex-shrink: 0;
        top: calc(18.6rem);
        left: 0;
        background-color: $lightskyblue;
        padding: 4.8rem 1.6rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

        ul {
            list-style-type: none;
            padding: 0;

            li {
                a {
                    white-space: nowrap;
                }
            }
        }
    }

    .sidebar-item {
        position: relative;
        display: block;
        padding: 1.0rem 4.8rem 1.0rem 2.4rem;
        text-decoration: none;
        margin-bottom: 10px;
        border-radius: 4px;
        transition: all 0.3s;

        &:hover,
        &.active {
            background-color: $dodgerblue;
            color: #fff;
        }

        i {
            display: block;
            position: absolute;
            right: 1.0rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .content {
        width: 100%;
    }

    .content-part {
        margin-bottom: 50px;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

.left-right {
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 5.6rem;

    &.reverse {
        flex-direction: row-reverse;
    }

    .right-part {
        position: relative;
        width: 36%;
        flex-shrink: 0;

        .thumb {
            position: relative;
            width: 100%;
        }
    }

    .left-part {
        position: relative;
        width: 100%;
    }
}