.top-page {
    display: block;
    position: relative;
    width: 100%;

    .mainview {
        display: block;
        position: relative;
        height: $top_slider_height;

        .main-slider {
            position: relative;
            width: 100%;
            height: 100%;

            .slick-track,
            .slick-list {
                position: relative;
                width: 100%;
                height: 100% !important;
            }

            .slider-item {
                position: relative;
                width: 100%;
                height: 100%;

                &:hover {
                    opacity: 1;
                }

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .slick-prev {
                left: 4.8rem !important;
            }

            .slick-next {
                right: 4.8rem !important;
            }

            .slick-prev,
            .slick-next {
                width: 4.2rem !important;
                height: 4.2rem !important;
                z-index: 1;

                &:hover {
                    &:before {
                        opacity: 0.9;
                    }
                }

                &:before {
                    position: relative;
                    font-size: 4.4rem !important;
                    transition: all 0.2s ease-in-out;
                    opacity: 0.7;

                    @media only screen and (max-width: 767px) {
                        font-size: 2.8rem !important;
                    }
                }
            }

            .slick-dots {
                position: absolute;
                bottom: 3.2rem !important;

                li {
                    margin: 0 1.0rem !important;

                    &.slick-active {
                        button {
                            &:before {
                                color: #ffffffd4;
                            }
                        }
                    }

                    button {
                        &:hover {
                            &:before {
                                color: #ffffffd4;
                            }
                        }

                        &:before {
                            color: $orange_color;
                            font-size: 1.4rem !important;
                            transition: all 0.2s ease-in-out;
                            opacity: .7;

                            @media only screen and (max-width: 767px) {
                                font-size: 1.5rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .business-section {
        display: block;
        position: relative;
        background: $lightskyblue;
        padding-top: 13.2rem;
        width: 100%;

        @media only screen and (max-width: 767px) {
            padding-top: 7.6rem;
        }

        // &:after {
        //     position: absolute;
        //     content: '';
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     aspect-ratio: 1920 / 81;
        //     transform: translateY(60%);
        //     background-image: url(../img/light-sky-blue-bg.png);
        //     background-position: center center;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        // }
    }

    .product-section {
        .scroller-btn {
            position: relative;
        }

        .products-list {
            .products-item {
                .thumb {
                    width: 100%;
                    max-width: 38rem;
                    aspect-ratio: 500 / 350;
                    object-fit: cover;
                    margin-bottom: 0.8rem;
                }

                .category {
                    text-align: right;
                    padding: 0.4rem 0;
                }
            }
        }

        .btn-rect {
            position: absolute;
            top: -12rem;
            right: 11.2rem;
            z-index: 100;

            background-color: transparent;
            color: $orange_color;
            border: 1px solid $orange_color;

            &:before {
                background-color: #e7e7e7;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../img/products-section-bg.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.2;
        }
    }

    .news-section {
        padding: 8.6rem;
        background: $deepblue_color;

        .container {
            display: flex;
            width: 100%;
            position: relative;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
            
            .left-right {
                column-gap: 0;
                align-items: center;
            }

            .left-part {
                padding-right: 5.6rem;

                .stick {
                    position: absolute;
                    display: block;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 100%;
                    background: #FFF;
                    opacity: 0.6;

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }

            .right-part {
                width: 34%;
                padding-left: 5.6rem;
                .thumb {
                    width: 100%;
                }
            }

            .section-title {
                text-wrap: nowrap;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                text-align: center;
                margin-bottom: 4.8rem;

                @media only screen and (max-width: 768px) {
                    margin-bottom: 3.6rem;
                    padding-right: 0;
                    width: 100%;
                    text-align: center;
                    display: block;
                }

                .en-title,
                .jp-title {
                    color: $white_color;
                }
            }

            .news-list {
                width: 100%;

                .date,
                .title {
                    color: $white_color;
                }
            }

            .btn-terms {
                position: relative;
                span {
                    position: absolute;
                    width: fit-content;
                    height: fit-content;
                    line-height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                    color: #fff;
                }
            }

            a {
                transition: all 0.3s;

                &:hover {
                    opacity: 0.7;
                }

                &.btn-rect {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .btn-rect {
            background-color: $deepblue_color;
            color: #FFF;
            border: 1px solid #FFF;
            font-weight: 500;
            margin: 4.2rem auto 0 auto;

            @media only screen and (max-width: 768px) {
                margin-top: 3.6rem auto 0 auto;
            }

            &:before {
                background-color: #FFF;
                border: unset;
            }

            &:after {
                border: unset;
            }

            &:hover {
                span {
                    color: $deepblue_color;
                }
            }
        }
    }

    .description-section {
        .section-img {
            position: absolute;
            top: 50%;
            right: 6.4rem;
            transform: translateY(-50%);
            width: 40%;
            opacity: 0.3;
            -webkit-filter: blur(1px);
        }

        .desc {
            &:not(:last-child) {
                margin-bottom: 3.6rem;
            }
        }
    }
}

.products-page {
    .products-section {
        .cat-name {
            padding-bottom: 1.6rem;

            .logo-mark {
                width: 3.2rem;
            }

            &:after {
                width: 29%;
                bottom: -1px;
            }
        }

        .products {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, minmax(0px, 1fr));
            column-gap: 3.6rem;
            row-gap: 4.8rem;
            margin-bottom: 4.8rem;

            .product {
                position: relative;
                width: 100%;

                .thumb {
                    position: relative;
                    width: 100%;
                    margin-bottom: 1.2rem;
                }

                .name {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.single-product-page {
    .single-product-section {
        .cat-name {
            margin-bottom: 7.6rem;
        }

        .title {
            text-align: center;
            margin-bottom: 5.6rem;
        }

        .detail-section {
            width: 100%;
            position: relative;
            display: flex;
            column-gap: 8.4rem;
            margin-bottom: 5.6rem;

            .detail-content {
                position: relative;
                width: 48.6%;
                height: fit-content;
                flex-shrink: 0;
                // padding: 3.6rem 4.0rem;
                // border: 1px solid #7f868d73;

                display: grid;
                grid-template-columns: repeat(1, minmax(0px, 1fr));

                .content-label {
                    position: absolute;
                    top: 0;
                    left: 4.8rem;
                    width: fit-content;
                    padding: 0 1.2rem;
                    background: $white_color;
                    color: $dodgerblue;
                    transform: translateY(-54%);
                    z-index: 1;
                }

                .item {
                    position: relative;
                    width: 100%;
                    display: flex;
                    column-gap: 1.2rem;
                    padding: 2.4rem 0 1.6rem 0;
                    line-height: 100%;
                    height: fit-content;

                    // &:not(:last-child) {
                    border-bottom: 1px solid #7f868d73;
                    // }

                    .classification {
                        width: 30%;
                        flex-shrink: 0;
                        font-weight: 700;
                    }
                }
            }

            .img-wrapper {
                position: relative;
                width: 100%;

                img {
                    width: 100%;
                }

                &:after {
                    position: absolute;
                    content: '';
                    border: 1px solid #c8cdd1;
                    width: 100%;
                    height: 100%;
                    top: 1.2rem;
                    right: 1.2rem;
                }
            }
        }

        .main-desc {
            margin-bottom: 6.4rem;
        }

        .url-wrapper {
            margin-bottom: 6.4rem;

            .url-list {
                display: flex;
                flex-direction: column;
                row-gap: 1.2rem;

                .url {
                    color: #0048c5;
                    text-decoration: underline;
                }
            }
        }
    }
}

.privacy-page {
    h4 {
        font-weight: 700;
        margin-bottom: 1.0rem;
    }
}

.architecture-part {
    position: relative;

    .top-desc {
        margin-bottom: 3.2rem;
    }

    .bottom-desc {
        margin-bottom: 3.2rem;
    }

    .flow-diagram {
        max-width: 72rem;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        row-gap: 4.6rem;

        .flow-item {
            position: relative;
            width: 100%;
            padding: 4.8rem;
            border: 0.4rem solid $dodgerblue;

            &:before {
                position: absolute;
                content: '';
                width: calc(100% - 0.8rem);
                height: calc(100% - 0.8rem);
                top: 0.4rem;
                left: 0.4rem;
                border: 1px solid $dodgerblue;
            }

            &:not(:last-child) {
                &:after {
                    position: absolute;
                    content: '';
                    bottom: -1.1rem;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    width: 0;
                    height: 0;
                    border-left: 3.2rem solid transparent;
                    border-right: 3.2rem solid transparent;
                    border-top: 3.2rem solid $dodgerblue;
                }
            }

            .step-title {
                text-align: center;
                padding-bottom: 2.6rem;
                border-bottom: 1px dashed $gray_color;
                margin-bottom: 2.0rem;
                line-height: 3.4rem;
            }

            .desc {
                text-align: center;
            }
        }
    }
}