.footer {
    .footer-top {
        position: relative;
        background: #feede4;

        .footer-img {
            position: absolute;
            width: 22%;
            bottom: 7%;
            right: 11%;
            opacity: 0.5;
            transform: rotate(-40deg);
        }
    }

    .nav-bar {
        display: flex;
        position: relative;
        column-gap: 4.8rem;
        padding-top: 9.2rem;
        padding-bottom: 3.6rem;
        border-bottom: 1px solid #b6b6b6;
        z-index: 1;
        justify-content: space-between;

        .menu-list {
            display: flex;
            flex-direction: column;
            row-gap: 1.2rem;

            .menu-item {
                transition: all 0.2s ease-in-out;
                &:hover {
                    opacity: 1;
                    color: $orange_color;
                }

                &.main-item {
                    font-weight: 700;
                }

                &.sub-menu-item {
                    padding-left: 2.0rem;
                }
            }
        }
    }

    .logo-wrapper {
        display: flex;
        column-gap: 4.8rem;
        align-items: center;
        padding-top: 3.6rem;
        padding-bottom: 4.8rem;

        .logo {
            width: 10.8rem;
        }

        .text-wrapper {
            .company-name {
                margin-bottom: 0.8rem;
                letter-spacing: 0;
            }

            .address {
                margin-bottom: 0.8rem;
            }
        }
    }

    .copyright {
        padding: 2.4rem 0;
        background: #143a5f;
        color: $white_color;
        text-align: center;
    }
}