.header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 4.8rem 1.0rem 4.8rem;
    background: #FFF;
    z-index: 9999;

    .header-wrapper {
        display: block;
        position: relative;
        width: 100%;

        .header-top {
            display: flex;
            align-items: center;
            column-gap: 6.4rem;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.8rem;

            .logo-wrapper {
                width: 48rem;
                display: block;
                position: relative;

                .logo {
                    display: block;
                    position: relative;
                    width: 100%;
                }
            }

            .contact-us {
                display: flex;
                align-items: center;
                column-gap: 4.4rem;
                width: fit-content;

                a {
                    white-space: nowrap;
                    position: relative;
                    display: flex;
                    align-items: center;
                    column-gap: 0.8rem;
                    font-size: 3.2rem;

                    &.btn-phone {
                        color: $deepskyblue;
                    }

                    &.btn-contact {
                        color: $orange_color;
                        padding: 1.2rem 3.2rem 1.2rem 2.4rem;
                        border-radius: 0;
                        background-color: $white_color;

                        &:before {
                            background-color: #f0eeeb;
                        }

                        &:after {
                            border: 1px solid $orange_color;
                        }

                        img {
                            width: 3.6rem;
                            position: relative;
                            z-index: 1;
                        }

                        .right-mark {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 1.6rem;
                            height: 100%;
                            background: $orange_color;
                            color: #FFF;
                        }
                    }

                    img {
                        display: block;
                        width: 4.4rem;
                        padding-top: 0.5rem;
                    }
                }
            }
        }
    }
}